footer {
  background: var(--color-beige);
  width: 100%;
  padding: 20px 0;
}
.footer__wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
/* =========LEFT========= */
.footer__left {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.footer__left-item h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.footer__left-item-lists {
  display: flex;
  flex-direction: column;
}

.footer__left-item-lists a {
  margin-bottom: 10px;
  font-size: 16px;
}
/* =========RIGHT======== */
.footer__right {
  display: grid;
  place-items: center;
}

.footer__right-logo {
  font-size: 36px;
  font-weight: 600;
}
.footer__right-socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer__right-socials h4 {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: normal;
}

.footer__right-socials-icon a {
  padding: 10px;
  font-size: 20px;
}

/* ========== RESPONSIVE ========== */
/* medium devices (tablet) */
@media screen and (max-width: 1024px) {
}

/* small devices (cellphones) */
@media screen and (max-width: 600px) {
 
}
