.topbar {
  width: 100%;
  padding: 20px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* ===== DASHBOARD ====== */
.topbar-dashboard {
  display: none;
  font-size: 20px;
}
/* ======== LOGO ========*/
.topbar-logo {
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
}

/* ====== TOPBAR LIST ====== */

.topbar-lists  a {
  display: inline-block;
  padding: 5px 10px;
  font-size: 18px;
 
}
.topbar-lists > a:hover {
  
  background: var(--color-brown);
  border-radius: 10px;
}

.topbar-lists .topbar-lists-close-icon {
  display: none;
}
/* ====BUTTON==== */

.topbar-button button {
  padding: 10px 30px;

  background: var(--color-brown-2);

  font-size: 18px;

  box-shadow: 7px 8px 0px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 7px 8px 0px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 8px 0px -3px rgba(0, 0, 0, 0.75);

  border: 1px solid var(--color-darkblue);
}

.topbar-button button:hover {
  background: var(--color-brown);
}
/* ========== RESPONSIVE ========== */
/* medium devices (tablet) */
@media screen and (max-width: 1024px) {
}

/* small devices (cellphones) */
@media screen and (max-width: 600px) {
  /* =====DASHBOARD===== */
  .topbar-dashboard {
    display: block;
    cursor: pointer;
  }
  .topbar-list-container {
    display: none;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;

    width: 100%;
    height: 100%;
    overflow: auto;

    background-color: rgba(168, 151, 151, 0.5);
  }
  .topbar-list-container.active {
    display: block;
  }
  .topbar-lists {
    width: 80%;
    margin: 0 auto;
    padding: 10px;

    position: relative;
    top: 50%;
    transform: translateY(-50%);

    background: var(--color-white);

    display: grid;
    place-items: center;

    border-radius: 10px;
    border: 3px solid var(--color-brown);
  }
  .topbar-lists a {
    display: inline-block;
    margin-right: 0;
    text-align: center;
  }
  .topbar-lists .topbar-lists-close-icon {
    display: flex;
    justify-self: end;
    align-items: center;
 
    
  }
  /* =======LOGO===== */
  .topbar-logo {
    font-size: 28px;
    
  }
  /* =====BUTTON====== */
  .topbar-button button {
    padding: 5px 20px;
    font-size: 16px;
  }
}

/* super small devices (like galaxy fold) */
@media screen and (max-width: 300px) {
  .topbar {
    padding: 20px 10px;
  }
  /* =======LOGO===== */
  .topbar-logo {
    font-size: 24px;
    
  }
  /* =====BUTTON====== */
  .topbar-button button {
    padding: 5px 10px;
    font-size: 14px;
  }
}