.login-container {
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: var(--color-lightblue);
}

/* ===== TITLE ===== */
.login-title {
  text-align: center;
  letter-spacing: var(--letter-spacing-sm);

  margin-top: 10px;
}
.login-title > * {
  margin-bottom: 10px;
}
.login-title h2 {
  font-size: 36px;
}
.login-title p:nth-of-type(1) {
  font-weight: 600;
}
.login-title p:nth-of-type(2) {
  color: var(--color-darkgray);
}

/* ======= LOGIN CONTENT ====== */
.login-content {
  width: 60%;
  margin: 20px auto;
  padding: 20px;

  display: flex;

  background: var(--color-white);

  border: 2px solid var(--color-darkblue);
  border-radius: 10px;
}
.login-content-left,
.login-content-right {
  flex: 1;
}
/* left */
.login-content-left img {
  object-fit: cover;
  width: 100%;
  height: 500px;
  border-radius: 10px;
}

/* right */
/* input and label */
.login-content-right .login-form-container {
  width: 80%;
  margin: 0 auto;
}

.login-content-right .login-form-container .login-form-item {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.login-content-right .login-form-container .login-form-item label {
  font-size: 18px;

  margin-bottom: 10px;

  display: flex;
  align-items: center;
}
.login-form-item label > * {
  margin-right: 5px;
}

.login-content-right
  .login-form-container
  .login-form-item
  .login-inp-container {
  border: 2px solid var(--color-lightblue);
  outline: 2px solid var(--color-lightblue);
  border-radius: 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 10px;
  margin-bottom: 10px;
}

.login-content-right
  .login-form-container
  .login-form-item
  .login-inp-container
  input {
  border: none;
  outline: none;
  padding: 10px;
  width: 100%;

  font-size: 16px;
}

.login-content-right
  .login-form-container
  .login-form-item
  .login-inp-container
  input::placeholder {
  font-size: 16px;
}

.login-content-right
  .login-form-container
  .login-form-item
  .login-inp-container
  .login-inp-container-icon {
  font-size: 20px;
  cursor: pointer;
}

/*sign in button */
.login-content-right .login-form-container .login-form-item button {
  padding: 10px 20px;

  display: block;
  margin: 20px auto;

  font-weight: 600;
  font-size: 16px;

  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}
/* every p tags */
.login-content-right .login-form-container p {
  text-align: center;
  font-size: 18px;
}

.login-content-right .login-form-container p:nth-of-type(2) a {
  text-decoration: underline;
}
.login-content-right .login-form-container p:nth-of-type(2) a:hover {
  color: var(--color-darkgray);
}
/* ========== RESPONSIVE ========== */
/* medium devices (tablet) */
@media screen and (max-width: 1024px) {
  .login-content {
    width: 80%;
  }
}

/* small devices (cellphones) */
@media screen and (max-width: 600px) {
  .login-content-left {
    display: none;
  }
}

/* super small devices (like galaxy fold) */
@media screen and (max-width: 300px) {
    .login-content-right .login-form-container .login-form-item button {
        font-size: 14px;
        padding: 5px 10px;
    }
}
