header {
  margin-top: 20px;
  padding: 20px;
}
.img-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  height: 610px;
}

.img-container-left,
.img-container-right {
  height: inherit;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.img-container-left img,
.img-container-right img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}
.img-container-center {
  height: inherit;
}
.img-container-center img {
  height: 610px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

