.navbar__wrapper{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    
    width: 100%;
    height: 80px;
    padding: 20px 60px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-beige);
}

/* ========= LOGO ========== */
.nav__logo {
    font-size: 36px;
    font-weight: 600;
}

/* ========= NAV LISTS ========= */
.nav__container-lists > a {
    padding: 5px 20px;
}

.nav__container-lists > a:hover {
   background: var(--color-skin-2);
   border-radius: 5px;
}
