.signup-container {
  min-height: 100vh;
  width: 100vw;
  background: var(--color-brown-2);
  overflow: hidden;
}
/* ======= TITLE ====== */
.signup-title {
  text-align: center;
  position: relative;
}
.signup-title h2 {
  font-size: 32px;
  letter-spacing: 5px;
}
.signup-title::before {
  content: "";
  width: 40%;
  height: 1px;
  background: var(--color-darkbrown);
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 0;
}

.signup-title::after {
  content: "";
  width: 40%;
  height: 1px;
  background: var(--color-darkbrown);
  position: absolute;
  z-index: 99;
  top: 50%;
  right: 0;
}

/* ==== FORM  ====*/
.signup-form {
  width: 60%;

  margin: 20px auto;
}
.signup-form .form-item {
  width: 80%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.signup-form .form-item label {
  font-size: 20px;
  margin-bottom: 10px;

  display: flex;
  align-items: center;

  letter-spacing: var(--letter-spacing-sm);
}

.signup-form .form-item label .form-item-icon {
  margin-right: 5px;
}
.signup-form .form-item .form-item-input {
  border-radius: 10px;
  border: 1px solid var(--color-brown);
  outline: 1px solid var(--color-brown);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 5px 10px;
  margin-bottom: 20px;
}
.signup-form .form-item .form-item-input input {
  padding: 10px;
  width: 100%;

  background: transparent;

  border: none;
  outline: none;

  font-weight: 600;
}
.signup-form .form-item .form-item-input span {
  cursor: pointer;
  font-size: 20px;

  padding: 10px 0;

  display: flex;
  align-items: center;
}

.signup-form .form-item button {
  box-shadow: 7px 8px 0px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 7px 8px 0px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 8px 0px -3px rgba(0, 0, 0, 0.75);

  background: var(--color-brown-2);
  padding: 10px 20px;
  border: 1px solid var(--color-darkblue);

  display: block;
  margin: 20px auto;

  font-size: 18px;
  letter-spacing: var(--letter-spacing-sm);
}
.signup-form .form-item button:hover {
  background: var(--color-brown);
}

.signup-form .form-item p {
  font-size: 18px;
  text-align: center;
}

.signup-form .form-item p a {
  margin-left: 5px;

  text-decoration: underline;
}

/* ========== RESPONSIVE ========== */
/* medium devices (tablet) */
@media screen and (max-width: 1024px) {
  /* ====== TITLE ===== */
  .signup-title::before {
    width: 30%;
  }
  .signup-title::after {
    width: 30%;
  }

  /* ====== FORM ===== */
  .signup-form {
    width: 80%;
  }
}

/* small devices (cellphones) */
@media screen and (max-width: 600px) {
  /* ====== TITLE ===== */
  .signup-title::before {
    width: 25%;
  }
  .signup-title::after {
    width: 25%;
  }
  /* ====== FORM ===== */
  .signup-form {
    width: 100%;
  }
}
