.container.contact__container {
  min-height: 100vh;
  padding: 20px 0;

  display: grid;
  grid-template-columns: 1fr 2fr;
}
/* CONTACT LEFT */

.contact__left {
  border-right: 1px solid var(--color-darkblue);
  padding: 20px;

  display: grid;
  grid-template-rows: repeat(3,1fr);
  gap: 20px;

  
}
.contact__left-gallery {
    display: flex;
    gap: 20px;
   
} 
.contact__left-gallery img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: var(--bor-rad-5);
}
/* CONTACT RIGHT */
.contact__right {
  padding: 20px;
}

.contact__right h2 {
  text-align: center;
  border-bottom: 1px solid var(--color-darkblue);
  margin-bottom: 20px;
  font-size: 30px;
}

.contact__right-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.contact__right-form label {
  font-size: 20px;
  margin-bottom: 10px;
}
.contact__right-form input {
  padding: 10px;
  border-radius: var(--bor-rad-5);
  border: 1px solid var(--color-brown-3);
  outline: none;

  font-size: 18px;
}
.contact__right-form input:focus {
  outline: 1px solid var(--color-brown-3);
}

.contact__right-form textarea {
  padding: 10px;
  border-radius: var(--bor-rad-5);
  border: 1px solid var(--color-brown-3);
  outline: none;

  font-size: 18px;
}
.contact__right-form textarea:focus {
  outline: 1px solid var(--color-brown-3);
}
.contact__right-form button {
  padding: 10px 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 50%;
  margin: 0 auto;

  border-radius: var(--bor-rad-5);
  color: var(--color-white);

  background: var(--color-darkblue);

  font-size: 20px;

  transition: var(--transition);
}

.contact__right-form button:hover {
  box-shadow: 7px 8px 0px -3px var(--color-darkblue);
  -webkit-box-shadow: 7px 8px 0px -3px var(--color-darkblue);
  -moz-box-shadow: 7px 8px 0px -3px var(--color-darkblue);

  cursor: pointer;
}

.contact__right-form__icon {
    margin-left: 5px;
}

/* ========== RESPONSIVE ========== */
/* medium devices (tablet) */
@media screen and (max-width: 1024px) {
}

/* small devices (cellphones) */
@media screen and (max-width: 600px) {
    
}

/* super small devices (like galaxy fold) */
@media screen and (max-width: 300px) {
}