.modal {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    overflow: auto;

    background-color: rgba(168, 151, 151,0.5);

    display: none;
}
.modal.active {
    display: block;
}
.modal-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    margin: 0 auto;
    width: 50%;
    padding: 30px;

    background: var(--color-white);

    border: 3px solid var(--color-brown);
    border-radius: 10px;
}
/* ====== MODAL TOP ========= */
.modal-content .modal-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid var(--color-brown);

    margin-bottom: 10px;
}

.modal-content .modal-top .modal-title {
    font-size: 20px;
}

.modal-content .modal-top .modal-icon {
    cursor: pointer;

    font-size: 18px;
}

.modal-content .modal-top .modal-icon:hover {
    color: var(--color-darkbrown);
}

/* =======MODAL BOTTOM ====== */
.modal-bottom {
    display: flex;
}

.modal-bottom-left, .modal-bottom-right {
    flex: 1;
    height: 300px;
}
.modal-bottom-left {
    position: relative;
}
.modal-bottom-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.modal-bottom-left .modal-bottom-message {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);

    background: rgb(255, 255, 255, 0.8);

    width: 60%;
    padding: 10px;

    border-radius: 10px;

    font-weight: 600;

}

.modal-bottom-right {
    padding: 0 20px;

    display: grid;
    place-items: center;

    font-weight: 600;
}

/* ========== RESPONSIVE ========== */
/* medium devices (tablet) */
@media screen and (max-width: 1024px) {
    .modal-content {
        width: 80%;
    }
  
  }
  
  /* small devices (cellphones) */
  @media screen and (max-width: 600px) {
    .modal-bottom-right {
        padding: 0 ;
        height: 100px;
    }
    .modal-bottom-left {
        display: none;
    }
  }
  
