.banner {
  width: 100%;
  padding: 10px;
  margin-top: 80px;

  background: var(--color-skin-2);

  display: flex;
  justify-content: center;
  align-items: center;
}
.banner__heart-icon {
  margin-right: 5px;
  color: var(--color-white);
  font-size: 18px;
}

.banner a {
  display: flex;
  align-items: center;

  margin-left: 5px;

  transition: var(--transition);
}

.banner a:hover {
  color: var(--color-white);
}
.banner__arrow-icon {
  margin-left: 5px;
  animation: arrow-right ease 2s infinite;
}

@keyframes arrow-right {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateX(10px);
  }
}
/* ========== RESPONSIVE ========== */
/* medium devices (tablet) */
@media screen and (max-width: 1024px) {
}

/* small devices (cellphones) */
@media screen and (max-width: 600px) {
}

/* super small devices (like galaxy fold) */
@media screen and (max-width: 300px) {
}
