/* ========= HEADER ======== */
.about-header {
  padding: 20px;
  width: 100%;
  height: 500px;

  position: relative;
}
.about-header-background {
  width: 100%;
  height: 100%;
}
.about-header-background img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.about-img {
  position: absolute;
  z-index: 9;
  bottom: -10%;
  left: 50%;
  transform: translateX(-80%);
}

.about-img img {
  width: 500px;
  height: 500px;
  object-fit: cover;

  border: 10px solid var(--color-white);
  border-radius: var(--bor-rad-5);
}
/* ABOUT HEADER DESCRIPTION */
.about-header-desc {
  position: absolute;
  z-index: 10;
  bottom: 10%;
  left: 50%;

  background: var(--color-beige);

  width: 500px;
  height: 300px;
  padding: 20px;

  border-radius: var(--bor-rad-5);

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  text-align: justify;
}

.about-header-desc .title {
  text-align: center;
  font-size: 20px;
  color: var(--color-brown-3);
  font-weight: 600;

  margin-bottom: 10px;
}

.about-header-desc .desc {
  margin-bottom: 20px;
}

.about-header-desc button {
  background: var(--color-brown-3);
  color: var(--color-white);
  font-weight: 600;

  padding: 10px 20px;

  border-radius: var(--bor-rad-5);
}

.about-header-desc button:hover {
  background: var(--color-darkbrown);
}
/* =====HEADER MOBILE */
.about-header-mobile {
  display: none;
}
.about-header-mobile-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.about-mobile-img,
.about-mobile-desc {
  flex: 1;
}
.about-header-mobile .about-mobile-img img {
  width: 80%;
  height: 400px;
  object-fit: cover;

  border-radius: var(--bor-rad-5);
}
.about-mobile-desc .title {
  text-align: center;
  font-size: 30px;
  color: var(--color-brown-3);
  font-weight: 600;

  margin-bottom: 10px;
}
.about-mobile-desc .desc {
  text-align: justify;
}
.about-mobile-desc button {
  background: var(--color-brown-3);
  color: var(--color-white);
  font-weight: 600;

  padding: 10px 20px;
  margin: 20px auto;
  display: block;

  border-radius: var(--bor-rad-5);
}

.about-mobile-desc button:hover {
  background: var(--color-darkbrown);
}
/* ===== QUOTE ===== */
.about-quote {
  margin-top: 100px;
  padding: 20px;
  height: 300px;
  display: flex;
  justify-content: space-between;
}
.about-quote .quote,
.about-quote .quote-img {
  flex: 1;
  height: 100%;
}

.about-quote .quote {
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: justify;
}
.about-quote .quote h2 {
  margin-bottom: 20px;
}

.about-quote .quote-img img {
  width: 80%;
  height: 100%;
  object-fit: cover;
  display: block;
  float: right;
  border-radius: var(--bor-rad-5);
}

/* ======= RECIPE ======== */
.about-recipe {
  padding: 20px;
  margin-top: 20px;
  height: 500px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.about-recipe .recipe-img {
  flex: 1;
  display: flex;
  gap: 10px;
}
.about-recipe .recipe-img .recipe-img-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.about-recipe .recipe-img .recipe-img-row img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.about-recipe .recipe-desc {
  flex: 1;
  text-align: justify;
}
.about-recipe .recipe-desc h2 {
  margin-bottom: 20px;
}

/* ============= REVIEW ============== */
.about-review {
  padding: 20px;
  margin-top: 20px;
}
.about-review h2 {
  margin-bottom: 20px;
  font-size: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.about-review .about-review-icon {
  color: var(--color-red);
  margin: 0 10px;
  animation: heart ease 1s infinite;
}
@keyframes heart {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.5);
  }
}
.about-review-listItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
}

.reviewer-img {
  flex: 1;
}

.reviewer-img img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  display: block;

  border-radius: 50%;
}

.reviewer-content {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}
.reviewer-content h3 {
  margin-bottom: 20px;
  font-size: 20px;
}

/* ========== RESPONSIVE ========== */
/* medium devices (tablet) */
@media screen and (max-width: 1024px) {
  /* ========= HEADER ======= */
  .about-header {
    padding: 20px;
    width: 100%;
    height: 400px;

    position: relative;
  }
  .about-img {
    bottom: -30%;
  }
  .about-img img {
    width: 300px;
    height: 400px;
  }

  .about-header-desc {
    bottom: -20%;
    left: 50%;

    width: 300px;
    height: 300px;
  }

  .about-header-desc .title {
    font-size: 16px;
  }

  .about-header-desc .desc {
    font-size: 14px;
    text-align: justify;
  }

  /* ===== QUOTE ===== */
  .about-quote {
    margin-top: 150px;
  }

  /* ==== RECIPE ======= */
  .about-recipe {
    height: 400px;
  }
  .about-recipe .recipe-img .recipe-img-row img {
    width: 150px;
    height: 150px;
  }

  /* ===== REVIEW ====== */

  .reviewer-img img {
    width: 150px;
    height: 150px;
  }
}
/* small devices (cellphones) */
@media screen and (max-width: 600px) {
  /* ========= HEADER ======= */
  .about-header {
    padding: 10px;
    width: 100%;
    height: 300px;
  }
  .about-img {
    display: none;
  }

  .about-header-desc {
    display: none;
  }

  .about-header-mobile {
    display: block;
  }
  .about-header-mobile .about-mobile-img img {
    height: 300px;
  }
  .about-mobile-desc .title {
    font-size: 20px;
  }
  .about-mobile-desc .desc {
    font-size: 14px;
  }

  /* ===== QUOTE ===== */
  .about-quote {
    margin-top: 50px;
    align-items: center;
  }
  .about-quote .quote {
    align-items: center;
    justify-content: center;
  }

  /* ==== RECIPE ======= */
  .about-recipe {
    height: auto;
  }
  .about-recipe .recipe-img .recipe-img-row img {
    width: 100px;
    height: 100px;
  }
}

/* super small devices (like galaxy fold) */
@media screen and (max-width: 300px) {
}
