/* import font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--color-darkblue);
  width: 100vw;
  overflow-x: hidden;
}

/* ========= GENERAL STYLES ======= */
:root {
  /* color */
  --color-beige: #fbf3e6;
  --color-skin: #fdd9d3;
  --color-skin-2: #f8bda1;
  --color-brown: #cdb188;
  --color-darkbrown: #998e7e;
  --color-brown-2: #f6ebd8;
  --color-brown-3: #d1b07f;
  --color-yellow: #f7e277;
  --color-lightpink: #f7f0f0;
  --color-lightblue: #edecff;
  --color-darkblue: #1d1f31;
  --color-white: #fff;
  --color-darkgray: #6a7489;
  --color-red :#e7a0a4;
  /* container */
  --container-width-lg: 75%;
  --container-width-md: 85%;
  --container-width-sm: 90%;

  /* transition */
  --transition: 0.2s ease;

  /* font */
  --letter-spacing-sm: 2px;

  /* border */
  --bor-rad-5: 5px;
  --bor-rad-10: 10px;
}

a {
  text-decoration: none;
  color: var(--color-darkblue);
  transition: var(--transition);
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}
.btn {
  width: max-content;

  cursor: pointer;

  border: none;
  outline: none;

  transition: var(--transition);
}

.btn-lightblue {
  background: var(--color-white);
  border: 3px solid var(--color-lightblue);
}
.btn-lightblue:hover {
  box-shadow: 7px 8px 0px -3px var(--color-lightblue);
  -webkit-box-shadow: 7px 8px 0px -3px var(--color-lightblue);
  -moz-box-shadow: 7px 8px 0px -3px var(--color-lightblue);
}

.btn-red {
  background: var(--color-white);
  border: 3px solid var(--color-red);
}
.btn-red:hover {
  box-shadow: 7px 8px 0px -3px var(--color-red);
  -webkit-box-shadow: 7px 8px 0px -3px var(--color-red);
  -moz-box-shadow: 7px 8px 0px -3px var(--color-red);
}
/* ========== RESPONSIVE ========== */
/* medium devices (tablet) */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
}

/* small devices (cellphones) */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }
}
